<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label>Phone number on the invoices</label>
    <label lang="de">Telefonnummer auf Rechnungen</label>
    <version>1.0.0</version>
    <copyright>(c) by Web Loupe</copyright>
    <license>proprietary</license>
    <author>Web Loupe</author>
    <compatibility minVersion="5.5.10" />

    <changelog version="1.0.0">
        <changes>First release Shopware Community Store</changes>
        <changes lang="de">Erstveröffentlichung Shopware Community Store</changes>
    </changelog>
</plugin>
