<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <label>Phone number on the invoices</label>
    <label lang="de">Telefonnummer auf Rechnungen</label>
    <elements>
        <element required="true" type="boolean" scope="shop">
            <name>DisplayPhoneNumber</name>
            <label lang="de">Telefonnummer anzeigen</label>
            <label lang="en">Display phone number</label>
            <value>1</value>
        </element>
    </elements>
</config>

